body{
    background-image: url("gecb.jpeg"); 
    background-repeat: no-repeat;
    background-size: 1400px 450px;
    background-attachment: fixed;
    margin: 0.5em;
}

.college{
    margin-top: 200px;
    margin-left: 300px;
}
a{

    color: blue;
    text-decoration: none;
}
h1{
    color:blue
}
a:hover {
    color: yellow;
  }
.mag{
    font-size: 30px;
}
